[flake8]
# OpenAeroStruct-specific settings in addition to the MDO Lab standard config file.
extend-exclude =
    openaerostruct/docs/conf.py,
    openaerostruct/docs/aero_walkthrough/part*.py,
    openaerostruct/docs/_utils/docutil.py,
    openaerostruct/docs/_utils/patch.py,
    openaerostruct/utils/plot_*.py,
