*.pyc
*.py~
*.db
*~
*.aux
*.log
*.pdf
*.synctex.gz
*.f90~
*.so
*.out
*.0
*.o
*.mod
openaerostruct/docs/_build/
openaerostruct/docs/*.rst
openaerostruct/docs/_srcdocs/
*.a
*.msg
src/adjoint/tempReverse/
src/adjoint/tempForward/
openaerostruct.egg-info/ 
.vscode
*.plt
